<%= form_for :student, url: student_path(@student), method: "put" do |f| %>
	<p>
		<%= f.label :firstname %><br>
		<%= f.text_field :firstname %>
	</p>
	<p>
		<%= f.label :lastname %><br>
		<%= f.text_field :lastname %>
	</p>
	<p>
		<%= f.label :dob %>
		<%= f.date_select :dob, start_year: 1985%>
	</p>
	<p>
		<%= f.label :rollno %><br>
		<%= f.text_field :rollno %>
	</p>
	
	<p>
		<%= f.label :course %>
		<%= f.radio_button(:course, "BCA") %>
        <%= label_tag(:X_BCA, "BCA") %>
        <%= f.radio_button(:course,"BBA") %>
        <%= label_tag(:XI_BBA, "BBA") %>
        <%= f.radio_button(:course, "BCom") %>
        <%= label_tag(:XII_BCom, "BCom") %>	
    </p>

    <p>
    	<%= f.label :subject %>
		<%= f.select :subject,options_for_select([['Math', ], ['Science', ],['Punjabi', ]]) %>
    </p>
	<p>
		<%= f.submit %>
	</p>

<%end%>

