<p>
	<strong>First Name</strong>
	<%= @student.firstname%>
</p>
<p>
	<strong>Last Name</strong>
	<%= @student.lastname%>
</p>
<p>
	<strong>DOB</strong>
	<%= @student.dob%>
</p>
<p>
	<strong>RollNo</strong>
	<%= @student.rollno%>
</p>
<p>
	<strong>Course</strong>
	<%= @student.course%>
</p>
<p>
	<strong>Subjects</strong>
	<%= @student.subject%>
</p>
<%= link_to 'Back', students_path %>